.new-expense {
    background-color: #a2a2a22b;
    padding: 1rem;
    margin: 2rem auto;
    width: 50rem;
    max-width: 95%;
    border-radius: 12px;
    text-align: center;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.25);
  }
  
  .new-expense button {
  
    font: inherit;
    cursor: pointer;
    padding: 1rem 2rem;
    /* border: 1px solid #000000; */
    background-color: #fefcff;
    color: rgb(0, 0, 0);
    /* border-radius: 12px; */
    margin-right: 1rem;
    border-radius: 200px;
    border-color: #9b4100;
    border-width: 1px;
  }
  
  .new-expense button:hover,
  .new-expense button:active {
    background-color: #000000;
    border-color: #ffffff;
    color: white ;
  }
  
  .new-expense button.alternative {
    color: #220131;
    border-color: transparent;
    background-color: transparent;
  }
  
  .new-expense button.alternative:hover,
  .new-expense button.alternative:active {
    background-color: #ddb3f8;
  }